*{
    box-sizing: border-box;
    margin: 0 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav::selection{
    background-color: black;
    color:rgb(27, 143, 131); 
}

body{
    background-color: rgb(0, 0, 0)
    
}

.nav{
   background-color: rgb(27, 143, 131);
    height: 100px;
    position: relative;
    box-sizing: border-box;
}
.logo{
    position: absolute;
    top: -30px;
    background-color: rgb(0, 0, 0);   
}

.image{
    height: 180px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 130%;
    margin: 0 3px;
    border-radius: 20px;
    font-family: fantasy;
    letter-spacing: 2px;
    
    
}

a:hover{
    background-color: rgb(19, 82, 75);
    color:white;
}
.menu{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left:900px;
    top: 33px;
}
.name{
    font-size: 270%;
    color:rgb(0, 0, 0);
    position: absolute;
    font-weight: bolder;
    left: 400px;
    top: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    color: white;
}
.photo{
    position: relative;
    height: 400px;
    left: 900px;
    top: 70px;
}
.bio{
    text-align: justify;
    color: white;
    width: 700px;
    height: auto;
    font-size: 200%;
    position: relative;
    top: -230px;
    left: 100px;
    text-shadow: 4px 4px 7px rgb(27, 143, 131); 
    outline-color: 4px turquoise;
}
.about{
    font-size: 250%;
    color: white;
    text-align: left;
    position: relative;
    opacity: 0.4;
    left: 70px;
}
.home .about{
    top: -520px;
}

.works{
    margin: 10px 11px;
    height: 250px;
}
.works-t{
    margin: 10px 11px;
    height: 250px;
}
.works-c{
    width: 410px;
    margin: 10px 10px;

}
.works-p{
    width: 400px;
}
.con .about{
    top: 56px;
}
.logo-spic{
    position:absolute;
   left: 120px;
   top: 15px;
    height: 100px;
    
}
.skills{
    background-color: rgb(27, 143, 131) ;
    height: 550px;
    width: 350px;
    position: relative;
    top: 100px;
    left: 200px;
   
}
.skills:hover,.skills2:hover{
    box-shadow: 0 0 15px rgb(37, 122, 112);
}
.s-text{
    text-align: center;
    background-color: rgb(27, 27, 27);
    color: rgb(255, 255, 255);
    position: absolute;
    height: 100px;
    top: 130px;
    width: 100%;
    font-size: 200%;
    padding: 27px;
}
.s-li{
    list-style: none;
    position: absolute;
    top: 220px;
    left: -50px;
}
.s-ul{
    margin: 50px;
    font-size: 100%;
}
.s-probar-s{
    display: block;
    position: relative;
    top: 265px;
    left: 40px;
    margin: 50px;
    width: 250px;
    border-radius: 70px;
    background-color:rgb(235, 235, 235);
 
}
.s-probar-r{
    display: block;
    position: relative;
    top: -11px;
    left: 40px;
    margin: 50px;
    width: 220px;
    border-radius: 70px;
    background-color:rgb(27, 27, 27);
    
}
.skills2{
    background-color: rgb(27, 143, 131) ;
    height: 550px;
    width: 350px;
    position: relative;
    top: -450px;
   text-align: right;
   left: 800px;
   
}
.skill2pic{
    position:absolute;
    left: 90px;
    top: -19px;
    height: 170px;
}
.skills2text{
    text-align: center;
    background-color: rgb(27, 27, 27);
    color: rgb(255, 255, 255);
    position: absolute;
    height: 100px;
    top: 130px;
    width: 100%;
    font-size: 200%;
    padding: 27px;

}
.skills2fill{
    position:absolute;
    top:250px;
    margin: 15px 15px;
}
.ox-fill{
    width: 240px;
}
.ox-fill2{
    width: 239px;
    height: 200px ;
    position: absolute;
    top: 30px;
    left: 76px;
    
}
.btn{
    position: relative;
    top: 230px;
    left: -10px;
}